body{
    background: #cccccc;
}
.header-box{
    border-bottom: 3px solid rgb(205, 206, 206) ;
    text-align: left;
    font-size: 16pt;
    padding: 10px 10px 0px 0px;
}
.ab{
  padding:0px 0px 9px 0px;
  margin: 0px 0px -3px 0px;
  width: fit-content;
  border-bottom: 3px solid #009688;
}
.cp{
    padding: 0px 0px 0px 15px;
}
.news-list {
  margin-top: 10px;
}
.news-list .news-link{
  text-decoration: none;
  color: #009688;
  font-size: 14pt;
  font-weight: 600;
}
.news-list .news-date{
  text-decoration: none;
  color: #009688;
  margin-top: 10px;
  font-size: 10pt;
  font-weight: 300;
  border-bottom: 1px solid #dce7e6;
}
.news-list .fol-up{
  color: yellow;
  background: #009688;
  font-size: 35pt;
  padding:7px;
}
.view-content .judul-view{
  font-size: 18pt;
  font-weight: 700;
  color: #009688;
}

.ul-top{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.ul-top>li{
  display: inline;
  margin-right: 15px;
}
.ul-top>li>a>i{
  margin-right: 3px;
  color: rgb(252, 237, 38);
}
.ul-top>li>a{
  font-size: 11pt;
  color: #cccccc;
}
.ul-top>li>a:hover{
  text-decoration: none;
  color: rgb(252, 237, 38);
}

.ul-top-right{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.ul-top-right>li{
  display: inline;
  margin-right: 15px;
}
.ul-top-right>li>a{
  padding: 3px 6px;
  border-radius: 50%;
  border: 0.5px solid rgb(244, 250, 250);
}
.ul-top-right>li>a:hover{
  background: rgb(244, 250, 250);
  transition: .3s;
}
.ul-top-right>li>a>i:hover{
  color: rgb(30, 36, 36);
}
.ul-top-right>li>a>i{
  color: rgb(244, 250, 250);
}


.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
.mid{
    border-left: 2px solid #009688;
    border-right: 2px solid #009688;
    margin: 0px 10px;
    padding: 0px 10px;
}
.li {
    float: left;
}
.custom-galeri{
    box-shadow: -2px -2px 18px -1px rgba(0,0,0,0.75);
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}
.custom-info{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.box-galeri:hover .custom-galeri{
    cursor: pointer;
    opacity: 0.3;
    box-shadow: none;
}
.box-galeri:hover .custom-info{
    opacity: 1;
    cursor: pointer;
}
.link{
    padding: 10px;
    color: black;
    text-decoration: none;
}
.link:hover{
    color: black;
    text-decoration: none;
}
.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
    background-color:#eceeef;
    color:#818a91;
    font-size:16px;
    display:inline-block;
    line-height:44px;
    width:44px;
    height:44px;
    text-align:center;
    margin-right:8px;
    border-radius:100%;
    -webkit-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear
  }
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.fab1
{
  line-height:34px;
  margin-top: 8px;
  height:34px;
  width:34px;
  font-size:24px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}

/* Navbar */
.nav-home{
  display: none;
}
.nav-bar{
  list-style-type: none;
  margin: 10px 0px;
  padding: 0;
}
.nav-bar>li{
  display: inline;
}
.nav-bar>li>a{
  color: #bbb;
  padding: 10px 20px 8px 1px;
}

.nav-bar>li>a:hover{
  color: #bbb;
  text-decoration: none;
  border-bottom: 4px solid yellow;
}
.navbar-toggle{
  display: none;
}

.active1{
  color: #bbb;
  text-decoration: none;
  border-bottom: 4px solid yellow;
}

/* Slideshow */
.img-slide{
  width: 100%;
  height: 550px;
}
.caption-slide{
  position: absolute;
  right: 20%;
  bottom: 30%;
  top: 30%;
  left: 20%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #064942;
  background: aliceblue;
  opacity: 0.7;
  display: flex;
  align-items: center!important;
}
.content-slide{
  width: 100%;
  text-align: center;
}


/* img sambutan */
.img-smbtn{
  width:240px;
}

/* Bingkai Informasi */
.bingkai-info{
  box-shadow: -1px 2px 13px 0px rgba(143,139,143,0.6);
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
}

.more-berita{
  text-decoration: none;
  color: yellow;
  padding: 5px 10px;
  border-radius: 10px;
  background: #009688;
  transition: background-color .3s;
}

.more-berita:hover{
  text-decoration: none;
  background: #017a6e;
  color: yellow;
}
.button-more{
  color: #009688;
  cursor: pointer;
  border:2px solid #009688;
  text-decoration: none;
  padding: 5px 10px;
  font-size: 14pt;
  font-weight: 700;
  transition: background-color .5s;
}
.button-more:hover{
  background: #009688;
  color: #fff;
  box-shadow:  -1px 2px 13px 0px rgba(143,139,143,0.6);
  text-decoration: none;
}

.custom-section-item{
  padding:10px;
}

/* owl 1 */
.custom-section-tendik{
  box-shadow: -1px 2px 10px 0px rgba(143,139,143,0.6);
}
.image-card-guru{
  height: 250px;
  overflow: hidden;
}
.image-card-guru img{
  height: 250px;
  transition: transform .5s;
}
.image-card-guru:hover img{
  cursor: pointer;
  transform: scale(1.1); 
}
.description-card-guru{
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background: #eff3f2;
}
.nama-guru{
  margin-bottom: 0px;
  font-weight: 700;
  font-size: 14pt;
  color: #017a6e;
  text-transform: uppercase;
}
.ket-guru{
  color: #017a6e;
  text-transform: uppercase;
}

.section-body{
  position: relative;
}
#slider-tools-1 .owl-next,#slider-tools-3 .owl-next{
  position: absolute;
  right: -40px;
  top:50%;
  z-index: 20;
  content: "";
  background: #009688;
  border: none;
  border-radius: 50px;
  height: 35px;
  width: 35px;
  color: #fff;
  outline: none;
  transition: background-color 0.3s;
}
#slider-tools-1 .owl-prev,#slider-tools-3 .owl-prev{
  position: absolute;
  left: -40px;
  z-index: 20;
  top:50%;
  content: "";
  background: #009688;
  border: none;
  border-radius: 50px;
  height: 35px;
  width: 35px;
  color: #fff;
  outline: none;
  transition: background-color 0.3s;
}

#slider-tools-1 .owl-next:hover,
#slider-tools-1 .owl-prev:hover,#slider-tools-3 .owl-next:hover,
#slider-tools-3 .owl-prev:hover{
  background: rgb(209, 209, 6);
  color: #1a5a54;
}


/* Alumni */
.custom-section-alumni{
  border: 1px solid #fff;
  border-radius: 10px;
  height: 270px;
  color: #fff;
}
#slider-tools-2 .owl-next{
  position: absolute;
  right: -40px;
  top:40%;
  z-index: 20;
  content: "";
  background: rgb(209, 209, 6);
  border: none;
  border-radius: 50px;
  height: 35px;
  width: 35px;
  color: #fff;
  outline: none;
  transition: background-color 0.3s;
}
#slider-tools-2 .owl-prev{
  position: absolute;
  left: -40px;
  z-index: 20;
  top:40%;
  content: "";
  background: rgb(209, 209, 6);
  border: none;
  border-radius: 50px;
  height: 35px;
  width: 35px;
  color: #fff;
  outline: none;
  transition: background-color 0.3s;
}
#slider-tools-2 .owl-next:hover,
#slider-tools-2 .owl-prev:hover{
  background: rgb(255, 255, 255);
  color: #1a5a54;
}

.description-card-alumni .name-alumni{
  color: yellow;
  font-size: 16pt;
}
.description-card-alumni .desk-alumni{
  font-size: 12pt;
}
.description-card-alumni .more-alumni{
  font-size: 12pt;
  text-decoration: none;
  color: yellow;
}
.description-card-alumni .more-alumni:hover{
  color: #fff;
}

.image-card-alumni{
  height: 250px;
  overflow: hidden;
}

.image-card-alumni img{
  height: 250px;
  width: 100%;
  transition: transform .5s;
}
.image-card-alumni:hover img{
  cursor: pointer;
  transform: scale(1.1); 
}

/* Informasi */
.bg-informasi{
  text-align: center;
}
.bg-informasi img{
  height: 280px;
  transition: transform .5s;
}
.bg-informasi:hover img{
  cursor: pointer;
  transform: scale(1.1); 
}

/* card berita */
.description-card-berita {
  padding-top: 10px;
}
.description-card-berita .judul-berita{
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14pt;
  color: #017a6e;
}
.image-card-berita{
  text-align: center;
  height: 210px;
  overflow: hidden;
}
.image-card-berita img{
  height: 200px;
  transition: transform .5s;
}
.image-card-berita:hover img{
  cursor: pointer;
  transform: scale(1.1); 
}
.info-admin{
  background: #017a6e;
  font-size: 10pt;
  padding: 5px 20px;
  color: #fff;
  cursor: pointer;
}
.right-row{
  border-right: 2px solid #017a6e;
}
.sharer{
  border-top: 1px solid #017a6e  ;
  padding-top: 10px;
}
.icon-share{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  float: left;
  text-align: center;
  margin-left: 10px;
  background:#017a6e;
  color: white;
  padding-top:7px;
}
.icon-share:hover{
  background: white;
  border: 2px solid #017a6e;
  color: #017a6e;
}
.breadcrumb-item::before{
  color:#ffc107!important;
}
.custom-scroll{
  height: 500px;
  overflow: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}
.custom-scroll::-webkit-scrollbar{
  width: 10px;
}
.custom-scroll::-webkit-scrollbar-track{
  border-radius: 10px;
  box-shadow:  inset 0 0 5px grey;;
}
.custom-scroll::-webkit-scrollbar-thumb {
  background: #017a6e; 
  border-radius: 10px;
}
.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #035850; 
}

.kalender{
  border-bottom: 1px dashed #017a6e;
  padding-top: 5px;
  padding-bottom: 5px;
  color: rgb(177, 182, 182);
}
.abc{
  text-decoration: none;
}
.abc:hover{
  text-decoration: none;
}
.kalender:hover{
  color: #017a6e;
  cursor: pointer;
  transition: color .5s;
}
.kalender .tanggal{
  font-size: 10pt;
  color: black;
}

/* Agenda */
.judul-agenda{
  color: #017a6e;
  border-bottom: 2px solid #f39c11;
}
.waktu-agenda{
  border-bottom: 1px solid #bec4c2;
}
.ket-agenda{
  height: 200px;
}
.ket-agenda .ket{
  font-weight: 600;
}

@media (max-width: 768px) { 
    .nav-home{
      display: block;
      float: left;
      padding-top: 3px;
      margin-top: 10px;
      margin-bottom: 10px;
      color: rgba(255,255,255,0.8);
    }
    .navbar-toggle {
      display: block;
      cursor: pointer; 
      color: rgba(255,255,255,0.8);
      font-size: 18px;
      margin-top: 10px;
      margin-bottom: 10px;
      float: right;
    }
    .responsive{
      display: none;
    }
    .nav-bar{
      float: left;
      margin-left: -45px;
      margin-top: 40px;
    }
    .nav-bar>li{
      display: block;
      margin-top: 15px;
    }
    .cp{
        padding: 0px;
    }
    .social-icons li.title
    {
      display:block;
      margin-right:0;
      font-weight:600
    }
    .center-head{
      text-align: center;
    }
    #slider-tools-1 .owl-next,
    #slider-tools-2 .owl-next,
    #slider-tools-3 .owl-next{
      right: 0;
    }
    #slider-tools-1 .owl-prev,
    #slider-tools-2 .owl-prev,
    #slider-tools-3 .owl-prev{
      left: 0;
    }
    .image-card-alumni{
      display: none;
    }
    .img-berita{
      width: 300px;
    }
    .right-row{
      border-right: none;
    }
 }
